# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Server (default 4000)
PORT=4000

# DB
DATABASE_URL=postgresql://postgres.hlvaqjhusubyvaajvucb:363464Jn*.02@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true

# Allowed Origins
ALLOWRD_ORIGINS=https://plaza-vea-client.vercel.app,http://localhost:3000

# Cron Secret
CRON_SECRET=CRON-SUPER-SECRET

# NODE_ENV
NODE_ENV=development

# Vtex
VTEX_API_URL=https://www.makro.plazavea.com.pe/api/catalog_system/pub/products/search?