# Dependencias
node_modules/

# Build
dist/
build/

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Cache
.cache/
.tmp/

# OS
.DS_Store
Thumbs.db

# Prisma
/generated/prisma

/generated/prisma

/generated/prisma
